.fontify {
    font-family: "Roboto", sans-serif;
}

.crop-text {
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    .cs-d-none-xxsm {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .cs-d-none-xsm {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .cs-d-none-sm {
        display: none;
    }

    .logo-size-sm {
        height: 20px;
    }
}

@media only screen and (max-width: 992px) {
    .cs-d-none-md {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .cs-d-none-lg {
        display: none;
    }
}
