.fontify {
    font-family: "Exo", sans-serif;
}

.crop-text {
    white-space: nowrap;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    .cs-d-none-xsm {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .cs-d-none-sm {
        display: none;
    }

    .logo-size-sm {
        height: 20px;
    }
}
